* {
    cursor: url('images/bat_cursor.svg'), auto;
}

a {
    color: grey;
}

body.light-mode a {
    color: #32281A;
}

a:hover {
    color: white;
}

body.light-mode a:hover {
    color: #7B3F00;
}

#about-us-pic {
    justify-content: flex-start;
    height: 333px;
    width: 250px;
}

#address {
    margin-left: 26%;
    margin-right: 26%;
    text-align: left;
}

body {
    align-items: center;
    background-color: #181C14;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.light-mode {
    background-color: #C8A98D;
    color: black;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
    margin-top: 1.85%;
    padding: 0.28% 0.36%;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
    margin-bottom: 1%;
}

#find_us {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 40px;
    margin-top: 1.85%;
    padding: 0.28% 0.36%;
}

footer {
    align-items: center;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: small;
    justify-content: center;
}

footer.light-mode {
    color: black;
}

.form {
    align-items: center;
    background-color: #697565;
    border-radius: 10px;
    font-size: x-large;
    justify-content: center;
    margin-bottom: 4.2%;
    margin-left: 26%;
    margin-right: 26%;
    padding-bottom: 4.2%;
    padding: 2% 1.5%;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.form.light-mode {
    background-color: #EBD8C3;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.home-page-body {
    align-items: center;
    background-color: #697565;
    border-radius: 10px;
    font-size: xx-large;
    justify-content: center;
    margin-bottom: 4.17%;
    margin-left: 7.81%;
    margin-right: 7.81%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    padding-right: 1.04%;
    padding-top: 1.85%;
    text-align: left;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.home-page-body.light-mode {
    background-color: #EBD8C3;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.home-page-img {
    align-items: center;
    border: 4px solid rgb(53, 10, 10);
    border-radius: 5px 5px;
    justify-content: center;
}

hr {
    width: 80%;
}

input {
    font-size: large;
    padding-bottom: 0.28%;
}

.intro {
    align-items: center;
    background-color: #3C3D37;
    border-radius: 20px;
    font-size: xx-large;
    justify-content: center;
    margin-bottom: 4.2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.2%;
    padding-left: 0.52%;
    padding-top: 0.37%;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.intro.light-mode {
    background-color: #D2B48C;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

label {
    padding: 0.28% 0px;
}

#map {
    padding-top: 1.6%;
}

.navigation_bar {
    align-items: center;
    display: flex;
    font-size: x-large;
    gap: 5.21%;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    max-width: 100%;
}

.navigation_bar a:hover {
    color: #ECDFCC;
}

.options {
    color: inherit;
}

.options:hover {
    color: grey;
    font-size: 35px;
}

.our-team {
    align-items: center;
    background-color: #ECDFCC;
    border-radius: 20px;
    color: black;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    margin-bottom: 4.2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    gap: 1.04%;
    padding: 1.85%;
}

.section-title {
    text-align: center;
    font-size: 45px;
}

.section-title a {
    color: inherit;
}

.section-title a:hover {
    color: #ECDFCC
}

.table-of-contents {
    align-items: center;
    background-color: #ECDFCC;
    border: 5px solid black;
    border-radius: 20px;
    color: black;
    font-size: xx-large;
    justify-content: center;
    margin-bottom: 4.17%;
    margin-left: 22%;
    margin-right: 40%;
    margin-top: 4.17%;
    max-width: 55%;
    padding-bottom: 2.22%;
    padding-left: 1.04%;
    padding-top: 0.37%;
    text-align: left;
}

.table-of-contents.light-mode {
    background-color: #EFDEC5;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#theme_banner {
    background-color: white;
    color: black;
    font-size: xx-large;
    margin-top: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

#toggleBtn {
    padding-top: 0.4%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.4%;
}

.welcome-to-the-colony {
    align-items: center;
    background-color: #697565;
    border-radius: 10px;
    font-size: xx-large;
    justify-content: center;
    margin-bottom: 4.17%;
    margin-left: 7.81%;
    margin-right: 7.81%;
    padding-bottom: 2.5%;
    padding-left: 1.04%;
    padding-right: 1.04%;
    padding-top: 1.85%;
    text-align: center;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.welcome-to-the-colony.light-mode {
    background-color: #EBD8C3;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}