a {
    color: grey;
}

.about-us-pic {
    justify-content: flex-start;
}

body {
    background-color: #181C14;
    color: white;
    font-family: 'Didact Gothic';
    text-align: center;
}

button {
    border: 1px black;
    border-radius: 5px;
    font-size: large;
    margin-top: 20px;
    padding: 3px 7px;
}

footer {
    color: white;
    font-size: small;
    margin-left: 500px;
    margin-right: 500px;
}

#form {
    background-color: #697565;
    border-radius: 10px;
    font-size: x-large;
    margin-bottom: 45px;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 27px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

#home-page-body {
    background-color: #697565;
    border-radius: 10px;
    font-size: xx-large;
    margin-bottom: 45px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 27px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: left;
}

hr {
    width: 80%;
}

input {
    font-size: large;
    padding-bottom: 3px 0;
}

#intro {
    background-color: #3C3D37;
    border-radius: 20px;
    font-size: xx-large;
    margin-bottom: 45px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-top: 4px;
}

label {
    padding: 3px 0px;
}

.our-team {
    align-items: center;
    background-color: #ECDFCC;
    border-radius: 20px;
    color: black;
    display: flex;
    font-size: xx-large;
    margin-bottom: 45px;
    margin-left: 400px;
    margin-right: 400px;
    gap: 20px;
    padding: 20px
}

#section-title {
    text-align: center;
}

#table-of-contents {
    background-color: #ECDFCC;
    border-radius: 20px;
    color: black;
    font-size: xx-large;
    margin-bottom: 45px;
    margin-left: 260px;
    margin-right: 680px;
    margin-top: 45px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-top: 4px;
    text-align: left;
}

.welcome-to-the-colony {
    background-color: #697565;
    border-radius: 10px;
    font-size: xx-large;
    margin-bottom: 45px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 27px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
}